@import './variables.scss';


.home-header {
    font-size: 5rem;
    width: 100%;
}

#Home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.wrap {
    width: 20rem;
    text-align: center;
    font-size: 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

span{
    display: block;
    background: url('./../../../assets/fireball.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: fire .8s linear infinite;;
}

@keyframes fire {
    0%{background-position: 0% 50%;}
    0%{background-position: 100% -50%;}
}