@import './variables.scss';


.App-header {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: $main-font-color;
    width: auto;
    text-decoration: none;
    z-index: 1;
  }

  .App-header-nonActive {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: $main-font-color;
    width: auto;
    text-decoration: none;
    z-index: 1;
  }

  .App-header-active {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: $main-font-color;
    width: auto;
    text-decoration: none;
    z-index: 1;
    opacity: 85%;
  }

 
  a {
    text-decoration: none;
    color: $main-font-color;
    font-size: 1.2rem;
  }

  .activeA {
    color: black;
    text-decoration-line: underline;
    color: $link-color;
  }

  .activeNavigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
  }

  .hiddenNavigation {
      opacity: 0;
  }